@import url('https://fonts.googleapis.com/css?family=Exo:400,500,800|Lobster+Two');
a{
  text-decoration: none;
  color:white;
}
body {
	margin: 0;
	background: #222;
	font-family: 'Exo', sans-serif;
  font-weight: 500;
  color:white;
}
.container {
	width: 90%;
  margin: 0 auto;
}

header {
  background: #ff2b4e;
  position: fixed;
  top:0;
  z-index: 500;
  width:100%;
}

header::after {
  content: '';
  display: flex;
  clear: both;
}

.logo {
  float: left;
  padding: 0;
  font-family: 'Lobster Two', cursive;
  color:white;
}

nav {
  float: right;
  z-index: 500;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::after {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  transition: all ease-in-out 100ms;
  width: 0%;

}

nav a:hover::after {
  width: 100%;
}

.ham{
  display: none ;
}
 

input::placeholder, input:placeholder-shown , textarea::placeholder{
  font-family: 'Exo', sans-serif;
	font-weight: 500;
}

textarea{
  height:200px;
  font-size:14px;
}

* {
    box-sizing: border-box;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff2b4e;
    border-radius: 4px;
    resize: vertical;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    color: white;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: transparent;
    color:#ff2b4e;
    padding: 12px 20px;
    border: 4px solid #ff2b4e;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #ff2b4e;
    color: white;
}

.form-container {
    border-radius: 5px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    height:auto;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);
}

.card-container {
    padding: 2px 16px;
}

.card img{
  height:175px;
  object-fit: cover;
}
.blog-title{
  color: #ff2b4e;
  font-size:18px;
  font-weight: 800;
}

.grid{
  display:grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill,minmax(250px,3fr));
  grid-auto-flow: dense;
}

.show-container{
  width:60%;
  margin:0 auto;
}

.show-title{
  font-size:25px;
  padding:20px 0;
}

.login-container{
  max-width:700px;
  margin:0 auto;
  padding:10px;
  border: solid;
  border: 1px solid #ff2b4e;
  border-radius: 4px;
}

.flash {
  display: inline-flex;
  width: 100%;
  height:auto;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  justify-content:center;
  font-weight: 400;
  padding:5px;
  margin-bottom:18px;
}

.flash input {
  border-width: 1px;
  float: none;
  padding:5px;
}

.warning{
  color:yellow;
  background-color: rgba(255, 255, 0, 0.253);
  border-color: yellow
}

.error {
  color: red;
  background-color:rgba(255, 0, 0, 0.253);
  border-color: red;
}

.success {
  color: rgb(0, 255, 0);
  background-color: rgba(0,255, 0, 0.253);
  border-color: rgb(0, 255, 0);
}
.like{
  position:fixed;
  right:10%;
  bottom:10%;
  border-radius: 50%;
  padding:10px 15px 6px 15px;
  font-size: 30px;
  background-color:#ff2b4e;
  transition: all cubic-bezier(0, 2.21, 0.99, -0.93) 200ms;
}

.like:hover{
  font-size:40px;
  right:9.5%;
  bottom:9%;
}

@media (max-width:760px){
  .ham{
  display: block ;
  align-self: flex-end;
  text-align: right;
  padding:20px 0 0 0;
  font-size: 20px
  }
  ul {
    width:100%;
  }
  
  ul li{
    display:block;
    margin-left: 0px;
  }
  
  nav{
    display:none;
    width:100%;
    padding-bottom: 10px;
  }

  .active{
    display: block;
  }

  .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

  .show-container{
    width:90%;
  }
  .login-container {
    width:90%;
  }
  .flash input {
    width:auto;
  }

}